.report-app-screen {
  width: 100%;
  overflow-x: auto;

  .report-app-screen .h2 {
    font-size: 1.5em;
  }

  .report-app-screen .table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    @media (max-width: 600px) {

      th,
      td {
        font-size: 0.8em;
      }
    }
  }
}