.insertincome .incomenavbar {
    padding-top: 4%; 
    padding-left: 5%;
    margin-bottom: 0; 
}
.insertincome .AddLandCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -80px;
}

.insertincome .AddLandCard .insertincome .card-container {
    width: 100%;
    max-width: 500px;
}

.insertincome .AddLandCard .insertincome .card-title {
    background-color: #6558f5;
    color: #fff;
    font-weight: bold;
}

.insertincome .AddLandCard .insertincome .input-field {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 8px 0;
}

.insertincome .AddLandCard .insertincome .submit-button {
    background-color: #6558f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.insertincome .AddLandCard .insertincome .form-label {
    font-weight: bold;
}

.insertincome .AddLandCard .insertincome .container {
    margin-top: 0px;
    margin-bottom: 40px;
}