.header-bar{
  display: flex;
  align-items: center;
  background-color: #0e4f20;
  height: 40px;
}

.landsection{
  background-color: rgba(0, 121, 34, 0.3); /* Adjust the last value (0.5) for the desired opacity */
  padding: 7px;
  border-radius: 5px;
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 16px;
}

.landsectioncover{
  padding: 5px;
  display: flex;
  margin-top: 15%;
}

.back-button {
  font-size: 24px; 
  margin-left: 10px; 
  cursor: pointer;
  color: white;
  font: bold;
  padding: 5px 0px 0px 0px;
}

.worker-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.worker-card {
  /* border: 1px solid #ccc; */
  padding: 20px;
  margin:  10px 10px 0px 10px;
  width: 90%;
  /* max-width: 300px; */
  text-align: left;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  background-color: #f2f2f2;
  color: black;
  border-radius: 5px;
}

.worker-card h3 {
  font-size: 18px;
  margin: 0;
}

.worker-card p {
  font-size: 14px;
  margin: 10px 0 0;
}

.drop-down {
  padding: 10px;
  background-color: #0e4f20;
  border: none;
  width: 100%;
}

.drop-down-container {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.drop-down-menu{
  padding: 10px;
  background-color: white;
  width: 100%;
}

.drop-down-menu:hover{
  padding: 10px;
  background-color: #a5dbb4;
  width: 100%;
}

.worker-app-screen .custom-dropdown .dropdown-toggle:active,
.worker-app-screen .custom-dropdown .dropdown-toggle:focus {
  background-color: #0e4f20;
  box-shadow: none;
}

/* land custom dropdown */
.custom-dropdown .form-control {
  background-color: #0e4f20; 
  color: #ffffff; 
  border-color: #0e4f20; 
}

.custom-dropdown .form-control:focus,
.custom-dropdown .form-control:active,
.custom-dropdown .form-control:hover {
  background-color: #0e4f20;
  color: #ffffff; 
  border-color: #0e4f20; 
}

.custom-dropdown .form-control:focus,
.custom-dropdown .form-control:active {
  box-shadow: none; 
}


.worker-app-screen .search-field {
  margin-left: 20px;
  z-index: 0;
}

/* .add-worker-button {
  padding: 8px 16px;
  background-color: #6558f5;
  color: #fff;
  width: 90%;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-worker-button:hover {
  background-color: #7273d6;
} */

/* Styling for the Add Worker button */
.add-worker-button {
  background-color: #0e4f20; 
  color: #fff; 
  padding: 10px 20px;
  border: none; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%
}

.add-worker-button:hover {
  background-color: #007922;
}

.add-worker-button:focus {
  outline: none; 
}

.search-container {
  position: relative;
  z-index: 0;
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-field {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 40px; 
  width: 330px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  outline: none; 
  z-index: 0;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  pointer-events: none;
  color: #aaa;
}

.land-dropdown{
  background-color: #0e4f20;
  color: white;
}

.load-more-button{
  margin-left: 35%;
  margin-right: auto;
  border: none;
  padding: 5px;
  border-radius: 5px;
}