.worker-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.worker-card {
  /* border: 1px solid #ccc; */
  padding: 16px;
  margin: 10px;
  width: 90%;
  /* max-width: 300px; */
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 20px;
}

.worker-card h3 {
  font-size: 18px;
  margin: 0;
}

.worker-card p {
  font-size: 14px;
  margin: 10px 0 0;
}

.drop-down {
  padding: 10px;
  background-color: #0e4f20;
  border: none;
  width: 100%;
}

.drop-down-container {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.drop-down-menu{
  padding: 10px;
  background-color: white;
  width: 100%;
}

.drop-down-menu:hover{
  padding: 10px;
  background-color: #a5dbb4;
  width: 100%;
}

.worker-app-screen .custom-dropdown .dropdown-toggle:active,
.worker-app-screen .custom-dropdown .dropdown-toggle:focus {
  background-color: #0e4f20;
  box-shadow: none;
}

.worker-app-screen .search-field {
  margin-left: 20px;
}

/* .add-worker-button {
  padding: 8px 16px;
  background-color: #6558f5;
  color: #fff;
  width: 90%;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-worker-button:hover {
  background-color: #7273d6;
} */

/* Styling for the Add Worker button */
.add-worker-button {
  background-color: #0e4f20; 
  color: #fff; 
  padding: 10px 20px;
  border: none; 
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%
}

.add-worker-button:hover {
  background-color: #007922; /* Change background color on hover */
}

.add-worker-button:focus {
  outline: none; /* Remove the focus outline */
}

/* Optional: You can adjust the styles based on your design preferences */
