.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.completed-button {
  position: absolute;
  top: 0;
  right: 0;
}


.manage-task-app-screen {
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  /* padding: 16px; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color: transparent;
}

.manage-task-app-screen .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-task-app-screen .end-task {
  background-color: #0e4f20;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80%;
}

.manage-task-app-screen .main-heading {
  background-color: #0e4f20;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  font: bold;
  font-size: large;
}

.task-heading {
  padding: 5px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 90%;
  /* max-width: 300px; */
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.manage-task-app-screen .toggle-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.manage-task-app-screen .toggle-button {
  flex: 1;
  padding: 8px;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.manage-task-app-screen .toggle-button.active {
  background-color: #0e4f20;
  color: #fff;
}

.card {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 10px;
  color: white;
}

.card p {
  font-size: 18px;
  margin: 0;
  color: white;
}

.manage-task-app-screen .dropdown-input {
  padding: 8px;
  width: 90%;
  margin-left: 15px;
  margin-right: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.manage-task-app-screen .dropdown-input::placeholder {
  color: white;
}

.dropdown-and-button-container {
  display: flex;
  align-items: center;
}

.manage-task-app-screen .add-button {
  padding: 8px;
  background-color: #0e4f20;
  margin-left: 15px;
  color: #fff;
  width: 90%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.manage-task-app-screen .add-button:hover {
  background-color: #7273d6;
}

.add-small {
  width: 20%;
  color: #fff;
  background-color: #0e4f20;
  border: none;
}

.complete-button {
  background-color: #642e04;
  width: 40%;
  color: #fff;
  margin-left: 5%;
  border: none;
}

.reopen-button {
  background-color: #64040c;
  width: 40%;
  color: #fff;
  margin-left: 5%;
  border: none;
}

.kg-input-container {
  display: flex;
  align-items: center;
}

.kg-input {
  display: flex;
  align-items: center;
  margin-right: 10px;
  /* Adjust the margin as needed to control spacing */
}

.end-task {
  background-color: #0e4f20;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80%
}

.line {
  display: flex;
  align-items: center;
}

.delete-button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 50px; /* Adjust the margin as needed */
}

