.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0e4f20;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.footer-icon {
  padding: 0 10px;
  color: white;
}

.active-icon {
  color: #8df0a9; 
}

.inactive-icon {
  color: white; 
}
