.footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* background-color: #333; 
    color: #fff; */
    padding: 10px; 
    margin-bottom: 0;
    background-color: #0e4f20;
  }

  .footer-icon {
    padding: 0 10px;
    color: white;
  }