.expense-app-screen {
  max-width: 360px;
  margin: 0 auto;
  /* padding: 16px; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color: transparent;
  }
  
  .expense-app-screen .input-field {
    padding: 8px;
    width: 90%;
    margin-bottom: 16px;
    margin-left: 15px;
    margin-right: 40px;
    margin-top: 200px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    border: none;
    border-radius: 20px;
  }
  
.expense-app-screen .input-field::placeholder{
  color: white;
}

  .expense-app-screen .add-button {
    padding: 8px 16px;
    background-color: #0e4f20;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .expense-app-screen .add-button:hover {
    background-color: #05932d;
  }
  
  .expense-app-screen .input-field::placeholder {
    text-align: left;
  }
  
  .expense-app-screen .main-heading {
    background-color: #0e4f20;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font: bold;
    font-size: large;
  }
  
  .expense-app-screen .add-button {
    padding: 8px 16px;
    background-color: #0e4f20;
    color: #fff;
    width: 90%;
    margin-left: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .expense-app-screen .add-button:hover {
    background-color: #05932d;
  }