.expense-app-screen {
  max-width: 360px;
  margin: 0 auto;
  /* padding: 16px; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-color: transparent;
  }
  
  .expense-list {
    flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .expense-card {
      padding: 10px;
      margin: 10px;
      width: 90%;
      /* max-width: 300px; */
      text-align: left;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      border-radius: 20px;
    }
    
    .expense-card p {
      font-size: 14px;
      margin: 10px 0 0;
    }
  
    .drop-down{
      padding: 10px;
      background-color: #0e4f20;
      width: 100%;
    }
  
    .drop-down:hover{
      padding: 10px;
      background-color: #05932d;
      width: 100%;
    }
  
    .drop-down-menu{
      padding: 10px;
      background-color: white;
      width: 100%;
    }
  
    .drop-down-menu:hover{
      padding: 10px;
      background-color: #05932d;
      width: 100%;
    }
  
    .drop-down-container{
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .expense-app-screen .search-field{
      margin-left: 20px;
    }
  
  .expense-app-screen .custom-dropdown .dropdown-toggle:active,
  .expense-app-screen .custom-dropdown .dropdown-toggle:focus {
    background-color: #0e4f20; 
    box-shadow: none;
  }
  
  .add-expense-type-button {
    background-color: #0e4f20; 
    color: #fff; 
    padding: 10px 20px;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%
    /* Optional: Add more styles for hover and focus states */
  }
  
  .add-expense-type-button:hover {
    background-color: #05932d; /* Change background color on hover */
  }
  
  .add-expense-type-button:focus {
    outline: none; /* Remove the focus outline */
  }