.side-nav-screen {
  max-width: 85%;
  height: 100vh;
  margin-right: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  /* background-color: #f2f2f2; */
  transition: transform 1.5s ease-in-out;
}

.side-nav-screen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../assets/img/bg-sidenav.png'); 
  transform: scaleX(-1);
  background-repeat: no-repeat;
  opacity: 0.1; 
  z-index: -1; 
}

.side-nav-screen .side-nav-menu::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../assets/img/bg-sidenav.png'); 
  background-repeat: no-repeat;
  opacity: 0.03;
  z-index: -1; 
}

.back-animation {
  transform: translateX(-100%);
}

.side-nav-screen .side-nav-menu {
  background-color: none;
  color: black;
  /* border-bottom: 1px solid #0e4f20; */
  padding: 10px;
}

.side-nav-screen .side-nav-menu:hover{
  background-color: rgb(174, 243, 174);
  color: black;
  /* border-bottom: 1px solid #0e4f20; */
  padding: 10px;
}

.side-nav-menu.hovered {
  background-color: rgb(174, 243, 174);
  color: black;
  /* Add other styles here */
}

.side-nav-screen .main-heading-welcome {
  background-color: #0e4f20;
  color: white;
  padding: 5px 0px 0px 20px;
  font: bold;
  font-size: 25px;
  text-align: left;
  margin-bottom: 0px;
}

.side-nav-screen .navbar-brand {
  color: black;
  border: 2px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.side-nav-screen .navbar-brand:hover {
  color: #71b384;
}

.side-nav-screen .container {
  padding: 0;
}

.language-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #0e4f20;
}

.menu-click{
  border: none;
  background-color: transparent;
}

.side-back-button{
  color: white;
  font-size: 20px;
  margin-top: 10px;
  font: normal;
  margin-right: 20px;
}