.manageLands {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
}

.manageLands .manageLands h2 {
  font-weight: bold;
}

.manageLands .search {
  margin-bottom: 20px;
}

.manageLands .divWithBorder {
  border: 1px solid #e7e7e7;
  padding: 10px;
  border-radius: 10px;
}

.manageLands .mb-4 {
  margin-bottom: 1.5rem !important;
}
