.manageLands {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
}

.manageLands h2 {
  font-weight: bold;
}

.search {
  margin-bottom: 20px;
}

.divWithBorder {
  border: 1px solid #e7e7e7;
  padding: 10px;
  border-radius: 10px;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}
