.main-heading {
    background-color: #0e4f20;
    color: white;
    padding-top: 0px;
    margin-bottom: 0px;
    font: bold;
    font-size: large;
    margin-top: 0px;
}

.home-heading {
    font-size: 18px;
    text-align: left;
    font: bold;
    color: #0e4f20;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.add-heading {
    font-size: 20px;
    text-align: center;
    font: bold;
    color: #0e4f20;
    font-weight: bold;
    margin-top: 10%;
}