.main-heading {
    background-color: #0a5638;
    color: white;
    padding-top: 0px;
    margin-bottom: 20px;
    font: bold;
    font-size: large;
    margin-top: 0px;
}

.home-heading {
    font-size: 20px;
    text-align: center;
    font: bold;
    color: #0e4f20;
    font-weight: bold;
}