.main-heading {
    background-color: #0e4f20;
    color: white;
    font: bold;
    font-size: large;
    margin-top: 0px;
}

.home-heading {
    font-size: 20px;
    text-align: left;
    font: bold;
    color: #0e4f20;
    font-weight: bold;
}