.home-app-screen {
    max-width: 360px;
    margin: 0 auto;
    /* padding: 16px; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    height: 700px;
    position: relative;
}

.home-app-screen .input-field {
    padding: 8px;
    width: 90%;
    margin-bottom: 16px;
    margin-left: 15px;
    margin-right: 40px;
    margin-top: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.home-app-screen .add-button {
    padding: 8px 16px;
    background-color: #6558f5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-app-screen .add-button:hover {
    background-color: #0056b3;
}

.home-app-screen .input-field::placeholder {
    text-align: left;
}

.home-app-screen .main-heading {
    background-color: #6558f5;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font: bold;
    font-size: large;
}

.home-app-screen .add-button {
    padding: 8px 16px;
    background-color: #6558f5;
    color: #fff;
    width: 90%;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-app-screen .add-button:hover {
    background-color: #7273d6;
}

.home-app-screen .home-heading p {
    font-size: 20px;
    text-align: center;
    font: bold;
}

.home-app-screen .task-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-app-screen .task-card {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
    width: 90%;
    /* max-width: 300px; */
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-app-screen .task-card p {
    font-size: 16px;
    margin: 10px 0 0;
}