.inserlot .lotnavbar{
    padding-top: 8%;
    padding-left: 5%;
}
.inserlot .AddLandCard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inserlot .AddLandCard .inserlot .card-container {
    width: 100%;
    max-width: 500px;
}

.inserlot .AddLandCard .inserlot .card-title {
    background-color: #6558f5;
    color: #fff;
    font-weight: bold;
}

.inserlot .AddLandCard .inserlot .input-field {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 8px 0;
}

.inserlot .AddLandCard .inserlot .submit-button {
    background-color: #6558f5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.inserlot .AddLandCard .inserlot .form-label {
    font-weight: bold;
}

.AddLandCard .container {
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: -10px;
}