
.managelot-app-screen .lot-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.managelot-app-screen .landsection{
  background-color: rgba(0, 121, 34, 0.3); /* Adjust the last value (0.5) for the desired opacity */
  padding: 7px;
  border-radius: 5px;
  font-style: oblique;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0;
}

.managelot-app-screen .landsectioncover{
  padding: 5px;
  display: flex;
  margin-top: 0%;
}

.managelot-app-screen .lot-card {
  padding: 10px;
  margin: 10px 10px 0px 10px;
  width: 90%;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  color: black;
  border-radius: 5px;
}

.managelot-app-screen .lot-card h3 {
  font-size: 18px;
  margin: 0;
}

.managelot-app-screen .lot-card p {
  font-size: 16px;
  margin: 10px 0 0;
}

.managelot-app-screen .drop-down {
  padding: 10px;
  background-color: #0e4f20;
  border: none;
  width: 100%;
}

.managelot-app-screen .drop-down-container {
  padding: 10px;
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.managelot-app-screen .drop-down-menu {
  padding: 10px;
  background-color: white;
  width: 100%;
}

.managelot-app-screen .drop-down-menu:hover {
  padding: 10px;
  background-color: #a5dbb4;
  width: 100%;
}

.managelot-app-screen .custom-dropdown .dropdown-toggle:active,
.managelot-app-screen .custom-dropdown .dropdown-toggle:focus {
  background-color: #0e4f20;
  box-shadow: none;
}

.managelot-app-screen .search-field {
  margin-left: 20px;
}

.managelot-app-screen .add-lot-button {
  background-color: #0e4f20;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%
}

.managelot-app-screen .add-lot-button:hover {
  background-color: #007922;
}

.managelot-app-screen .add-lot-button:focus {
  outline: none;
}

.managelot-app-screen .main-heading {
  color: white;
  font: bold;
  font-size: large;
}